.grid {
    display: grid;
    background: #F7F4F4;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;   
    padding-top: 50px;
    justify-items: center;
}

.article {
    height: 170px;
}

.article-titulo {
    display: flex;
    text-transform: uppercase;
    align-items: center;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 19px;

    color: #4F4C4C;
    padding-bottom: 5px;
}

.main-titulo-article {
padding-left: 5px;
}

.p-article {
    padding-left: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    max-width: 300px;
}

#article-1 {
    
    grid-column-start: 1;
    grid-column-end: 1;
}

#article-2 {
    
    grid-column-start: 2;
    grid-column-end: 2;
}

#article-3 {
    
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
}