.contato {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.p-contato {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.btn-contato {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #3a3a3a;;
    background-color: transparent;
    padding: 10px 90px;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}